<div class="col-md-12">
  <h2>Recipes</h2>

  <table>
    <tr>
      <th>Title</th>
    </tr>
    {{#each model as |recipe|}}
      <tr>
        <td>{{#link-to "recipe" recipe}}{{recipe.title}}{{/link-to}}</td>
        </tr>
      {{/each}}
  </table>

  {{outlet}}
</div>
