<h2 id="title">Welcome to Concoctify</h2>

{{#link-to "ingredients"}}Ingredients{{/link-to}}
{{#link-to "concoction-types"}}Concoction Types{{/link-to}}
{{#link-to "recipes"}}Recipes{{/link-to}}

{{outlet}}
